@import url(https://fonts.google.com/specimen/Outfit);
body{
    background-color:hsl(220, 15%, 55%);
    font-family: 'Outfit', sans-serif;
    left: 50%;
    padding-top: 25%;

}


.card{
    background-color: white;
    position: relative;
    padding-top:2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    top: 50%;
    left: 50%;
    height: 25%;
    width: 15%;
    border-radius: 5%;
    text-align: center;
    transform: translate(-50%,-50%) ;
}

img{
    border-radius: 5%;
    width: 100%;
}

p{
    color: hsl(218, 44%, 22%);
    font-size: 15px;
    font-weight: 700;
}

.caption{
    font-size: 15px;
    font-weight: 200;
    color: hsl(212, 45%, 89%);
    padding-bottom: 15px;
}

